<div class="header">
    <div class="app-title">Cine Quest</div>
    <div class="search-box">
        <button class="btn-search"><mat-icon>search</mat-icon></button>
        <input type="text" [(ngModel)]="movieName" class="input-search" (input)="onChangeText()" placeholder="Type to Search...">
    </div>
    <button class="filter-button" mat-raised-button (click)="filterClicked()">Browse By Genre</button>
</div>
<div *ngIf="filterByGenreClicked">
    <div class="genres">
        <a mat-button *ngFor="let genre of genres" (click)="filterByGenre(genre.id)" class="genre-link">
            {{ genre.name }}
        </a>
    </div>
</div>