.carousel-container{
  height: max-content;
}

.middle-section{
  display: grid;
  grid-template-columns: 7fr 1fr;
  padding: 1.5rem 0rem 0rem 2rem;
}

.filter-button{
  color: white;
  font-size: 1rem;
  margin-right: 2rem;
}

.all-movie-heading{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: whitesmoke;
}


.genres{
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to left, #434343 0%, black 100%);
  color: white;
  font-size: 1.2rem;
}
  
  @media (max-width: 1024px) {
    .movie-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .movie-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  